/* Add here all your css styles (customizations) */
.blog-cars-heading small {
    border-left: 2px solid;
    padding-left: 10px;
    margin-left: 10px;
}

.tab-v3 .nav-pills li a{
    font-size: 14px;
}

.blog-grid-inner {
    border: 2px solid #555;
}

.product-container .img-product-thumbnail{
    margin: 0 auto;
}

.about-me-container .user-avatar{
    max-width: 100%;
}

.product-cost span{
    color: #c7254e;
    font-size: 120%;
}

.product-location span, .product-area span, .product-area-ratio span, .product-number-of-block span{
    color: #000;
    font-size: 14px !important;
}

.product-location, .product-location span{
    font-size: 15px !important;
}

.blog-slider span.blog-slider-badge.is-hot-product{
    background: #e74c3c;
}

.blog-slider .blog-slider-title {
    bottom: 0px;
    padding-left: 3%;
    padding-right: 3%;
    position: absolute !important;
    width: 93%;
    background: rgba(0,0,0,0.5);
}

.blog-slider .blog-slider-title h2.product-title{
    font-size: 28px;
}

.blog-slider .blog-slider-title h2.product-title .product-cost{
    font-size: 22px;
}

