<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<aop:config>
        <aop:advisor id="managerSaveTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.save*(..))" order="2"/>
        <aop:advisor id="managerAddTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.add*(..))" order="2"/>
        <aop:advisor id="managerUpdateTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.update*(..))" order="2"/>
        <aop:advisor id="managerDeleteTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.delete*(..))" order="2"/>
        <aop:advisor id="managerImportTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.import*(..))" order="2"/>
    </aop:config>

	<tx:advice id="txAdvice">
        <tx:attributes>
            <!-- Read-only commented out to make things easier for end-users -->
            <!-- http://issues.appfuse.org/browse/APF-556 -->
            <!--tx:method name="get*" read-only="true"/-->
            <tx:method name="*" rollback-for="com.banvien.portal.vms.exception.DuplicateException"/>
        </tx:attributes>
    </tx:advice>
	
    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:mail.properties</value>
            </list>
        </property>
    </bean>
    
	<bean id="mailEngine" class="com.banvien.portal.vms.service.MailEngine">
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="emailSender" ref="emailSender"/>
    </bean>

    <!-- Configure Velocity for sending e-mail -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
                <prop key="velocimacro.library"></prop>
            </props>
        </property>
    </bean>
	<!-- Configure e-mail sender for sending e-mail -->
	<bean id="emailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
        <property name="defaultEncoding" value="UTF-8"/> 
        <!-- Uncomment if you need to authenticate with your SMTP Server -->
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="port" value="${mail.port}"/>
        <property name="javaMailProperties">
            <value>
                mail.smtp.auth=${mail.smtp.auth}
            </value>
        </property>
    </bean>

    <bean id="userGroupService" class="com.banvien.portal.vms.service.impl.UserGroupServiceImpl">
        <property name="userGroupDAO" ref="userGroupDAO"/>
    </bean>
    
	<bean id="roleService" class="com.banvien.portal.vms.service.impl.RoleServiceImpl">
        <property name="roleDAO" ref="roleDAO"/>
    </bean>

    <bean id="userRoleService" class="com.banvien.portal.vms.service.impl.UserRoleServiceImpl">
        <property name="userRoleDAO" ref="userRoleDAO"/>
        <property name="roleDAO" ref="roleDAO"/>
    </bean>

    <bean id="userService" class="com.banvien.portal.vms.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="userRoleDAO" ref="userRoleDAO"/>
    </bean>

    <bean id="authoringTemplateService" class="com.banvien.portal.vms.service.impl.AuthoringTemplateServiceImpl">
        <property name="authoringTemplateDAO" ref="authoringTemplateDAO"/>
    </bean>

    <bean id="categoryService" class="com.banvien.portal.vms.service.impl.CategoryServiceImpl">
        <property name="categoryDAO" ref="categoryDAO"/>
    </bean>

    <bean id="categoryTypeService" class="com.banvien.portal.vms.service.impl.CategoryTypeServiceImpl">
        <property name="categoryTypeDAO" ref="categoryTypeDAO"/>
    </bean>

    <bean id="locationService" class="com.banvien.portal.vms.service.impl.LocationServiceImpl">
        <property name="locationDAO" ref="locationDAO"/>
    </bean>

    <bean id="contentService" class="com.banvien.portal.vms.service.impl.ContentServiceImpl">
        <property name="noOfDateTracking" value="${no.of.date.tracking}"/>
        <property name="contentDAO" ref="contentDAO"/>
        <property name="categoryTypeDAO" ref="categoryTypeDAO"/>
    </bean>
</beans>