<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="crawlingAnnouncementContent" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <property name="targetObject" ref="crawlingAnnouncementContentService" />
            <property name="targetMethod" value="crawlContent" />
            <property name="concurrent" value="false" />
    </bean>

    <bean id="crawlingAnnouncementContentService" class="com.banvien.portal.vms.service.CrawlingAnnouncementContentService">
        <property name="username" value="phuoclt"/>
        <property name="contentService" ref="contentService"/>
        <property name="announcementCategoryService" ref="announcementCategoryService"/>
        <property name="jbpmSpringService" ref="jbpmSpringService"/>
        <property name="authoringTemplateService" ref="authoringTemplateService"/>
        <property name="jcrContent" ref="jcrContent"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="crawlingAnnouncementContentJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="crawlingAnnouncementContent" />
        <property name="cronExpression" value="0 0/5 * * * ?" />
    </bean>

    <bean id="updateAdsContent" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateAdsService" />
        <property name="targetMethod" value="updateAdsJob" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="updateAdsService" class="com.banvien.portal.vms.service.UpdateAdsJob">
        <property name="contentService" ref="contentService"/>
    </bean>

    <bean id="updateAdsJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="updateAdsContent" />
        <property name="cronExpression" value="0 0 8 * * ?" />
    </bean>


    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="crawlingAnnouncementContentJob" />-->
                <ref bean="updateAdsJob" />
            </list>
        </property>
    </bean>
</beans>