<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-lazy-init="true">

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--<property name="lobHandler" ref="lobHandler"/>-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">false</prop>
                <prop key="hibernate.jdbc.use_streams_for_binary">true</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
                <prop key="hibernate.cache.query_cache_factory">org.hibernate.cache.StandardQueryCacheFactory</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.use_structured_entries">false</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
        <property name="mappingResources">
            <list>
                <value>hbm/User.hbm.xml</value>
                <value>hbm/Role.hbm.xml</value>
                <value>hbm/UserGroup.hbm.xml</value>
                <value>hbm/UserRole.hbm.xml</value>
                <value>hbm/AuthoringTemplate.hbm.xml</value>
                <value>hbm/CategoryType.hbm.xml</value>
                <value>hbm/Location.hbm.xml</value>
                <value>hbm/Category.hbm.xml</value>
                <value>hbm/Content.hbm.xml</value>
                <value>hbm/Customer.hbm.xml</value>
            </list>
        </property>

    </bean>
	<!-- Hibernate Templates -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

	<!-- The transactionmanager to use for regular non JTA datasource -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

    <bean id="userGroupDAO" class="com.banvien.portal.vms.dao.impl.UserGroupHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<bean id="roleDAO" class="com.banvien.portal.vms.dao.impl.RoleHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="userRoleDAO" class="com.banvien.portal.vms.dao.impl.UserRoleHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<bean id="userDAO" class="com.banvien.portal.vms.dao.impl.UserHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="authoringTemplateDAO" class="com.banvien.portal.vms.dao.impl.AuthoringTemplateHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="categoryDAO" class="com.banvien.portal.vms.dao.impl.CategoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="categoryTypeDAO" class="com.banvien.portal.vms.dao.impl.CategoryTypeHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="locationDAO" class="com.banvien.portal.vms.dao.impl.LocationHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="contentDAO" class="com.banvien.portal.vms.dao.impl.ContentHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="customerDAO" class="com.banvien.portal.vms.dao.impl.CustomerHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>