<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Bài viết của bạn bị từ chối đăng tải [<a href="${targetUrl}">Nhấn vào đây</a>] để xem chi tiết.
</p>
</body>
</html>